.container{
  
width: 1fr;
height:800px;
display:flex;
align-items:center;


}

.banner{
}

.below_banner{
  width:1fr;
  height:80px;
  display:flex;
  justify-content:center;
}

.login_button{

  margin:40px 30px 30px 30px;
  width: 300px;
  height: 80px;

  text-align:center;
  color: #FFFFFF;
  background: #000000;
  border-radius: 10px;
  font-family:'Noto Serif JP', serif;
  line-height:5px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:25px;
}