.header{
  position: absolute;
width: 683px;
height: 138px;
left: 319px;
top: 11px;
}
.userinfo{
  position: absolute;
  width: 510px;
  height: 293px;
  top:161px;
  left:700px;

  
  background: #F5F5F5;
  border-radius: 10px;
}

.userinfo1{
  position:absolute;
  top: 15px;
  left: 50px;
  width:167px;
  height:293px;


  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size:25px;
}

.userinfo2{
  position:absolute;
  top:0px;
  left: 300px;
  width:145px;
  height:293px;
  display: flex;
  flex-direction:column;
  justify-content:center;
}
.userinfo2 h3 {
  font-size:16px;
  line-height:5px;
  margin:18px;
 }

.userinfo2 p {
 font-wight: 100;
 line-height:5px;
 align-self:flex-end;
}

.point_detail{
  position: absolute;
  top:158px;
  left:167px;

  width: 452px;
  display:flex;
  justify-content:center;
}
.point_detail h1{
font-size:40px;
font-family:'Noto Serif JP', serif;
margin: 10px 10px 10px 10px;
}

.now_point{
  box-sizing: border-box;
  position: absolute;
  width: 510px;
  height: 103px;
  left: 0px;
  top: 55px;
  
  background: #F5F5F5;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
  display:flex;
  justify-content: space-around;
  align-items:center;
}

.now_point p {
  font-size:25px;
  margin: 0px 0px 0px 0px;
}

.detail {
  position: absolute;
  width: 510px;
  height: 159px;
  left: 0px;
  top: 170px;

background: #F5F5F5;
border-radius: 10px;

  display:flex;
  flex-direction:column;
  padding: 0px 0px 10px 0px;
  margin: 30px 0px 0px 0px;
}
.detail h3 {
  margin: 10px 0px 0px 20px;
}
.detail_items {
  margin : 5px 0px 0px 40px;
  overflow:scroll;
}

.detail_items p {
  margin : 5px 0px ;
}
.use_point{
  position: absolute;
  top:550px;
  left:100px;

  width:452px;
  display:flex;
  flex-direction:column;

}

.use_point h2 {
  align-self:center;
  font-family:'Noto Serif JP', serif;
}

.use_point_apply{
  margin:20px 0px 0px 0px;
  align-self:center;
}

.inputbox{
  width:300px;
  height:25px;
  display:flex;
  }

.inputbox input{
  padding: 11px;
  gap: 10px;
  
  width: 212px;
  height: 38px;
  
  background: #FFFFFF;
  border: 1px solid #B3B3B3;
  border-radius: 8px;
}

  .inputbox h5 {
    margin:15px 0 0 5px;
  }

  .moneychange{
    width:267px;
    height:70px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin: 20px 0px 0px 0px;
  }


  .rest_point{
    width:267px;

    display:flex;
    align-items:center;
    justify-content:space-between;
  }



.button {
  text-align:center;
  color: #000000;
  background: #C9E265;
  border-radius: 10px;
  font-family:'Noto Serif JP', serif;
  width: 250px;
  height: 38px;
  margin: 40px 0px 0px 20px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:20px;
  }
  .button:hover{
    background: rgba(201, 226, 101, 0.5);
    color: rgba(0, 0, 0, 0.5);
  }





.message{
  position: absolute;
  top:650px;
  left:700px;

  width:510px;
}

.return_button{
  position: absolute;
  width: 184px;
  height: 38px;
  left: 1027px;
  top: 765px;
  text-align:center;
  color: #FFFFFF;
  background: #000000;
  border-radius: 10px;
  font-family:'Noto Serif JP', serif;
  line-height:5px;
  display:flex;
  justify-content:center;
  align-items:center;

  font-size:20px;
}
.return_button:hover{
  background: rgba(0, 0, 0, 0.5);
 
}

.history_detail {
  position: absolute;
  width: 510px;
  height: 159px;
  left: 700px;
  top: 440px;

background: #F5F5F5;
border-radius: 10px;

  display:flex;
  flex-direction:column;
  padding: 0px 0px 10px 0px;
  margin: 30px 0px 0px 0px;
}
.history_detail h3 {
  margin: 10px 0px 0px 20px;
}
.history_detail_items {
  margin : 5px 0px 0px 40px;
  overflow:scroll;
}

.history_detail_items p {
  margin : 5px 0px ;
}
