.header{
  position: absolute;
width: 683px;
height: 138px;
left: 319px;
top: 11px;
}
.userinfo{
  position: absolute;
  width: 510px;
  height: 293px;
  top:161px;
  left:171px;

  
  background: #F5F5F5;
  border-radius: 10px;
}

.userinfo1{
  position:absolute;
  top: 15px;
  left: 50px;
  width:167px;
  height:293px;


  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.userinfo2{
  position:absolute;
  top:0px;
  left: 300px;
  width:145px;
  height:293px;
  display: flex;
  flex-direction:column;
  justify-content:center;
}
.userinfo2 h3 {
  font-size:16px;
  line-height:5px;
  margin:18px;
 }

.userinfo2 p {
 font-wight: 100;
 line-height:5px;
 align-self:flex-end;
}

.userinfo_contents {
  position: absolute;
  width: 400px;
  height: 293px;
  
  background: #F5F5F5;
  border-radius: 10px;
  top:161px;
  left:700px;
  line-height:20px;

  display:flex;
  flex-direction:column;
}

.userinfo_contents a {
  width: 250px;
  display:flex;
  justify-content:space-between;
  margin: 0px 50px 0px 50px;
}
.userinfo_contents h2{
  font-size: 22px;
  margin: 30px;
  }

.userinfo_contents h3{
  font-size: 16px;
}

.userinfo_contents p {
  font-weight: 100;
  align-self:flex-end;
}
.notice{
position: absolute;
width: 930px;
height: 103px;
left: 171px;
top: 470px;

background: #F5F5F5;
border-radius: 10px;
}

.notice h3 {
  margin: 10px 0px 0px 15px;}

  .notice p {
    margin: 10px 0px 0px 15px;}

.buttonarea{
position: absolute;
margin-top:10px;
top: 580px;
left:171px;
width: 930px;
height: 190px;
display:flex;
flex-wrap: wrap;
justify-content: space-between;
padding-left: 0px;
}



.buttonarea li {
  list-style:none;
}
.selectbutton{
width: 280px;
height: 89px;

background: #C9E265;
border-radius: 10px;

margin:0px 0px 18px 0px;
font-size: 20px;
font-family: 'Noto Serif JP', serif;

display:flex;
justify-content:center;
}

